@page "/book"
@rendermode InteractiveServer
<style>
    .main{
        width:100%;
        height:80vh;
        border: 1px solid black;
        display:grid;
        grid-template-columns: auto auto;
    }
    .borrow{
        width:90%;
        height:80%;
        margin:auto;
        border:1px solid black;
    }
    .addbook{
          width:90%;
        height:80%;
        margin:auto;
        border:1px solid black;
    }
    .borrow button{
        display:block;
        margin:auto;
    }
   .borrow .inputs
    {display: flex;
    @* justify-content: space-around; *@
    @* border:1px solid black; *@
    width:80%;
    margin: 15px auto;
    }
    .inputs label
    {
        width:30%;
    }
    .returnbook .inputs
    {
    display: flex;
    width:80%;
    margin: 15px auto;
    }
    .returnbook .inputs label{
        width:45%;
    }
    .returnbook button{
           display:block;
        margin:auto;
    }
    .List
    {
        height:auto;
        width:90%;
        border:1px solid black;
        margin:20px auto;
    }
     table {
        width: 90%;
        margin: auto;
    }

    tr {
        height: 5vh;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    .bookid{display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;}
    .returnbook{
          width:90%;
        height:80%;
        margin:auto;
        border:1px solid black;
        position:relative;
    }
    .retbtn{
        position:absolute;
        top:90%;
        right:50%;
    }
</style>
<h1 style="text-align:center">Welcome to Nepathya Library </h1>
<div class="main">
<div class="borrow">
<h2 style="text-align:center">Search And Borrow Book</h2>
<div class="inputs"><label>Title of Book:</label>
<input type="text"  @bind="title"></div>
@if(title==""||bookone==null)
{
<button @onclick="()=> searchTitle(title)">Search Book</button>
}
@if(bookone==null&&title!="")
{
    <p>There is No book of This Title</p>
}
@if(bookone!=null)
{
    <div class="inputs"><label>Name of Student:</label>
<input type="text"></div>
<div class="inputs"><label>ID of Student:</label>
<input type="text" @bind="StudentId"></div>
<div class="inputs"><label>Id of Book:</label>
<input type="text" @bind="bookId"></div>
<button @onclick="()=>Borrow()">Borrow Book</button>
    <p>Title:@bookone.Title</p>
    <p>Author:@bookone.Author</p>
    <p>Book Count:@bookone.BookCount</p>
    <ul class="bookid">
        @foreach(var m in bookone.Bookid){
            <li>@m</li>
        }
    </ul>
    <h3>Enter Name And Id to borrow the book</h3>
    <p style="display:@MessageVisible()?'block':'hide'">@message</p>
}
</div>
<div class="returnbook">
<h2 style="text-align:center">Return Book</h2>
<div class="inputs"><label>Name:</label>
<input type="text"></div>
<div class="inputs"><label>ID of Student:</label>
<input type="text" @bind="StudentId2"></div>
@if(std1==null){
        <button @onclick="()=>StudentDetails(StudentId2)" class="List">Enter for Details</button>
        }else{
            <button class="retbtn" @onclick="()=>Return()">Return</button>
             <p style="display:@MessageVisible()?'block':'hide'">@message</p>
        }
        @if(std1!=null)
        {
             @if(std1.NumberOfBooks!=0)
                   {
                    <div class="inputs"><label>Title Of Book:</label>
<input type="text" @bind="Title1"></div>
                    <div class="inputs"><label>Id Of Book:</label>
<input type="text" @bind="bookId2"></div>
                    <p><label>Borrowed Books:</label>
                    @if (std1.BorrowedBooks != null && std1.BorrowedBooks.Any())
                    {
                        <ul>
                            @foreach (var book in std1.BorrowedBooks)
                            {
                                <li>@book</li>
                            }
                        </ul>
                    }
                    </p>
                   }

        }
</div>
</div>

@* <div class="addbook">
<h2 style="text-align:center">Add New Book</h2>
<div class="inputs"><label>Title of Book:</label>
<input type="text"></div>
<div class="inputs"><label>Name of Author:</label>
<input type="text"></div>
<div class="inputs">
    <label>Code of book:</label>
    <input type="text">
</div>
<div class="inputs">
    <label>No.of Book:</label>
    <input type="number">
</div>
<div class="inputs">
    <label>Date of Book Published:</label>
    <input type="date">
</div>
<button>Click to Add</button>
</div> *@
<div class="List">
    <h2 style="text-align:center;">List of Book</h2>
<table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Code</th>
                <th>Published Date</th>
                <th>Book Count</th>
                  <th>Available</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var b in BookList.books)
            {
<tr>
    <td>@b.Title</td>
    <td>@b.Author</td>
    <td>@b.Id</td>
    <td>@b.PublishDate</td>
    <td>@b.BookCount</td>
    <td>@if(b.BookCount!=0)
        {
            <span>Yes</span>
        }else{
            <span>No</span>
        }
    </td>
</tr>
}
        </tbody>
</table>
</div>
@code
{
    private string Title1="";
   private string StudentId="";
   private string StudentId2="";
    private string bookId="";
    private string bookId2="";
   private string title="";
    private StudentStructure? std,std1;
    private BookStructure? bookone;
    private BookStructure? booktwo;
    private string message="";

private void searchTitle(String t)
{
bookone=BookList.books.Find(x=>x.Title==t);
}
private int Search()
{
 std=StudentList.students.Find(x=>x.Id==StudentId);
 if(bookone != null && bookone.Bookid.Contains(bookId)&&std!=null)
 {
  return 1;
 }
 else{
    return 0;
 }
}
private void Borrow()
{
   if(Search()==1)
   {
    if(std!=null)
    std.AddBooks(title);
    if(bookone!=null)
    {
        bookone.RemoveBookid(bookId);
    }
    Clear();
   } else{
message="Invalid Bookid and Studentid! Please try again";
MessageVisible();
   }
}
private void Clear()
{
    title="";
    bookone=null;
    std=null;
    bookId="";
    StudentId="";
    std1=null;
    Title1="";
    bookId2="";
    StudentId2="";
    message="";
}
private int MessageVisible()
{if(message!="")
{
    return 1;
}else{
    return 0;
    }
}
private void StudentDetails(string s)
{
    if(StudentId2!="")
     std1=StudentList.students.Find(x=>x.Id==StudentId2);
}
private int Check()
{
    booktwo=BookList.books.Find(x=>x.Title==Title1);
    if(std1!=null&&booktwo!=null){
if(std1.BorrowedBooks.Contains(Title1)&&BookList.BookIDs.Contains(bookId2)&&(!booktwo.Bookid.Contains(bookId2)))
{
return 1;
}
else{
    return 0;
}
}
return 0;
}
private void Return()
{
    if(Check()==1&&booktwo!=null&&std1!=null)
    {
      booktwo.AddBookid(bookId2);
      std1.RemoveBook(Title1);
      Clear();
    }
    else{
        message="Invalid BookId or Student Title";
        MessageVisible();
    }
}
}